body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    -webkit-text-size-adjust: 100%;
}

/*<-- header -->*/

.header {
    background-color: #003664;
}

.nav h1 {
    font-weight: 100;
    font-size: 1.5vw;
}

#nav-title {
    font-weight: bold !important;
    font-size: 2.4vw !important;
}

.nav {
    width: 98%;
    display: inline-flex;
    justify-content: space-between;
    padding: 1rem 0rem 0rem 1rem;
    align-items: center;
    color: #64C2EE;
    list-style: none;
}

.nav-li {
    display: flex;
    justify-content: space-between;
    width: 4%;
    font-size: 1.5vw;
}

.nav-li li {
    margin-right: 26%;
    margin-left: -34%;
    margin-top: -14%;
}

a {
    text-decoration: none;
    color: #64C2EE;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #003664;
    width: 35%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #003664;
}

/*<-- main content -->*/

.main-content {
    width: 51%;
    text-align: -webkit-center;
}

.main-content h2 {
    font-size: 4vw;
    padding: 3rem 0rem 0rem 0rem;
}

.main-content h3 {
    font-size: 2vw;
    padding: 2.5rem 0rem 0rem 0rem;
}

/* <--signup--> */

.login {
    background-color: #64C2EE;
    width: 35%;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin {
    width: 23vw;
}

label {
    margin: 0.7rem;
    font-size: 1.3vw;
}

.input {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    border-radius: 0.9375rem;
    border-block: none;
    border: none;
    font-size: 1vw;
}

input:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: #003664;
}

.btn-submit {
    border-radius: 0.9375rem;
    font-size: 1vw;
    width: 9rem;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #003664;
    color: #ffffff;
}

/* <---------- home -------->*/

.name {
    margin-top: 1rem;
    align-self: baseline;
}

.name h2 {
    font-size: 2.3vw;
}

.add {
    float: right;
    padding-right: 1rem;
}

.add-submit {
    border-radius: 0.9375rem;
    width: 7rem;
    font-size: 1.3vw;
    height: 2.1rem;
    background-color: transparent;
    border: 0.11rem #003664 solid;
    color: #003664;
}

.p {
    display: flex;
    margin: 1rem 0rem -2rem 0rem;
    height: 3.6rem;
    justify-content: flex-start;
}

#table {
    background-color: #BBDCEB;
    font-size: 1.3vw;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1.5625rem;
    z-index: -1;
}

.report {
    font-size: 1.3vw;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1.5625rem;
    z-index: -1;
    background-color: #59AAD0;
}

.table-actions {
    margin-bottom: 1.5rem;
    background-color: #BBDCEB;
    padding: 0.9rem;
    text-align: -webkit-center;
    width: inherit;
    height: auto;
}

.table-container {
    border: 0.0001rem #003664 solid;
    border-radius: 1.25rem;
    background-color: white;
    border-collapse: collapse;
    line-height: 2.5rem;
}

.header-p {
    border-bottom: 0.0001rem #003664 solid;
    width: 6rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #003664;
    width: 60%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.context {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3vw;
    line-height: 3vw;
}

.content p {
    margin: 20px 20px 10px 20px;
}

.date {
    border-right: 0.0001rem #003664 solid;
}

.item {
    border-right: 0.0001rem #003664 solid;
}

.pages a {
    color: #003664;
}

.pages {
    display: flex;
    width: 20vw;
    justify-content: space-evenly;
    font-size: 1.3vw;
}

/* <---------------- graphic --------------------> */

#report-tables {
    font-size: 1.3vw;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1.5625rem;
    z-index: -1;
    background-color: #59AAD0;
}

.report-reports {
    background-color: #BBDCEB;
    font-size: 1.3vw;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1.5625rem;
    z-index: -1;
}

.graphic {
    margin-bottom: 1rem;
    color: #212529;
    background-color: #BBDCEB;
    width: -webkit-fill-available;
    padding: 1rem;
    text-align: center;
}

.months {
    border: 0.0001rem #003664 solid;
    border-radius: 20px;
    padding: 1rem;
}

/* <---------- mediaquery ----------->*/

@media (max-width:360px) {
    /*<-- header -->*/
    .nav {
        width: 100%;
        margin: -1rem 0rem 0rem 0rem;
        display: inline-flex;
        justify-content: space-between;
        padding: 1rem 0rem 0rem 0.5rem;
        align-items: center;
        color: #64C2EE;
        list-style: none;
    }
    .nav h1 {
        font-weight: 100;
        font-size: 5vw;
    }
    #nav-title {
        font-weight: bold !important;
        font-size: 8vw !important;
    }
    .nav-li {
        margin: 0.5rem 0rem 0rem 0rem;
        width: 16%;
    }
    .nav-li li {
        font-size: 4.4vw;
        margin-right: 0%;
        padding-left: 14%;
    }
    .actions {
        width: 100%;
    }
    .container {
        width: 98%;
    }
    /*<-- main content -->*/
    .main-content {
        width: 100%;
    }
    .main-content h2 {
        font-size: 7.9vw;
        padding: 3rem 0rem 0rem 0rem;
    }
    .main-content h3 {
        font-size: 4.6vw;
        padding: 1.5rem 0rem 0rem 0rem;
    }
    /* <--login--> */
    .login {
        width: 100%;
    }
    .signin {
        width: 85%;
    }
    #signup {
        display: none;
    }
    label {
        font-size: 5vw;
        padding-left: 0.3rem;
    }
    .input {
        font-size: 4vw;
        padding-left: 1rem;
    }
    input:focus {
        outline: none;
    }
    input::-webkit-input-placeholder {
        color: #003664;
    }
    .btn-submit {
        margin-top: 1.5rem;
        font-size: 4vw;
    }
    /* <---------- home -------->*/
    .name h2 {
        font-size: 6vw;
    }
    .context {
        width: 100%;
    }
    .add-submit {
        font-size: 4.3vw;
    }
    #table {
        font-size: 3.5vw;
        padding: 0.3rem 1.5rem 0.5rem 1.5rem;
    }
    .report {
        font-size: 3.5vw;
        padding: 0.3rem 1.5rem 0.5rem 1.5rem;
    }
    .table-actions {
        padding: 0.5rem;
    }
    .content {
        font-size: 3.9vw;
        line-height: 6vw;
    }
    .date {
        width: 33%;
    }
    .item {
        width: 33%;
    }
    .cost {
        width: 33%;
    }
    .header-p {
        width: 19vw;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #003664;
        width: 60%;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .pages {
        width: 80vw;
        font-size: 4.3vw;
    }
    /* <---------------- graphic --------------------> */
    .graphic {
        margin-bottom: 1rem;
        color: #212529;
        background-color: #BBDCEB;
        width: -webkit-fill-available;
        padding: 1rem;
        text-align: center;
    }
}